* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 1s;
}
button {
  border: none;
  cursor: pointer;
}
a {
  border: none;
  cursor: pointer;
}
/* 1440 - 2 * 60 + 2 * 20 = 1360 */
.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
html,
body {
  font-family: "Orbitron", sans-serif;
}
:root {
  --bg-blue: #57b8ff;
  --bg-black: #000000e0;
  --bg-white: #ffffff;
  --bg-yellow: #fdd04a;
  --bg-grey: #dfdfdfcc;
}
body.dark {
  --bg-blue: rgba(0, 0, 0, 0.88);
  --bg-black: rgba(87, 184, 255, 1);
}
.container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  background-image: linear-gradient(
    to right,
    var(--bg-black) 50%,
    var(--bg-blue) 50%
  );
  width: 100%;
  padding: 20px 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moon-btn {
  width: 48px;
  height: 48px;
}
.nav-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hamburger {
  color: var(--bg-white);
  font-size: 30px;
  display: none;
}
.nav-menu {
  display: flex;
  gap: 60px;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-menu__link {
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--bg-white);
  transition: 1s;
}
.nav-menu__link:hover {
  color: var(--bg-yellow);
}
.nav-btn__link {
  padding: 16px 31px;
  border: 1px solidvar(--bg-white);
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: var(--bg-white);
}
@media (max-width: 991px) {
  nav {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .nav-brand {
    width: 100%;
  }
  .nav-menu {
    display: none;
  }
  .active {
    display: flex;
  }
  #hamburger {
    display: block;
  }
}
@media (max-width: 678px) {
  .nav-menu {
    gap: 30px;
  }
}
@media (max-width: 435px) {
  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.future-img__box {
  background-image: linear-gradient(
    to right,
    var(--bg-black) 50%,
    var(--bg-blue) 50%
  );
}
.future-img {
  display: flex;
  padding: 100px 0;
}
.future-fire {
  display: flex;
  align-items: center;
  gap: 8px;
}
.future-fire span {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--bg-blue);
}
.future h1 {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: var(--bg-white);
  padding: 14px 0 45px;
}
.future h1 span {
  position: relative;
}
.future h1 span img {
  position: absolute;
  top: 80px;
  left: 0;
}
.future p {
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--bg-grey);
  padding-bottom: 53px;
}
.future-btn {
  display: flex;
  align-items: center;
  gap: 40px;
}
.ftr-btn {
  color: var(--bg-white);
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.ftr-btn1 {
  padding: 21px 34px;
  background-color: var(--bg-blue);
  text-transform: capitalize;
}

@media (max-width: 1355px) {
  .future-img {
    flex-wrap: wrap;
    justify-content: center;
  }
  .future h1 span img {
    width: 100%;
  }
  .future h1 {
    text-align: center;
  }
}
@media (max-width: 660px) {
  .img img {
    width: 100%;
  }
}
@media (max-width: 455px) {
  .future h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .future h1 span img {
    top: 45px;
  }
  .future p {
    font-size: 14px;
    line-height: 20px;
  }
}
button:hover {
  box-shadow: inset -52px 53px goldenrod, inset 52px -53px goldenrod;
}

.sponsor-div {
  width: 100%;
  background-color: var(--bg-yellow);
}

.sponsor-text {
  margin: 0 auto;
  max-width: 596px;
  padding-top: 130px;
}

.sponsor-text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
}
.sponsor-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 44px 0;
  color: #555555;
}
.sponsor-cards {
  display: flex;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 130px;
  gap: 33px;
}
@media (max-width: 1355px) {
  .sponsor-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.all-gameplay {
  background-image: url("/images/clash.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 100%;
}
.fire-two {
  display: flex;
  align-items: center;
}
.text-three {
  padding-top: 22px;
  margin: 0 auto;
  max-width: 716px;

  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-align: center;
  color: #ffffff;
}
.text-two {
  color: rgb(87, 185, 255);
}

.fire-two {
  padding-top: 136px;
  justify-content: center;
}
.p-text__paragraf {
  padding-top: 39px;
  margin: 0 auto;
  max-width: 698px;

  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #dfdfdfcc;
}
.img__one {
  width: 31.79px;
  height: 29px;
  top: 35px;
}
.four-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
  color: #ffffff;
}
.card-paragraf {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #dfdfdfcc;
}
.card {
  max-width: 642.46px;

  border-radius: 20px;
  background: #ffffff26;
  display: flex;
  gap: 13px;
  padding: 35px 38px;
}
.card-wrapper {
  gap: 35px;
  display: flex;
  padding-top: 96px;
  padding-bottom: 120px;
}
.card__test_text {
  margin-top: 38px;
}
@media (max-width: 850px) {
  .card-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 610px) {
  .card-paragraf {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
@media (max-width: 535px) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text-three {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 350px) {
  .frame-btn-12 img {
    width: 300px;
  }
  .h-two-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

@media (max-width: 325px) {
  .p-text__paragraf {
    font-size: 16px;
    line-height: 20px;
  }
}
.the_new-ega {
  background-color: var(--bg-black);
}
.text-one {
  color: #57b8ff;
}
.text_five {
  max-width: 684px;

  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-align: left;
  color: var(--bg-white);
  padding-top: 22px;
}
.text__six {
  max-width: 721px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--bg-grey);
  padding-top: 38px;
}
.img_fire__moon {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.more-flex button {
  margin-top: 60px;
  padding: 21px 34px;
  background-color: var(--bg-blue);
  color: var(--bg-white);
  border: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  width: 203px;
  height: 70px;
}
.test-page {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
}
.img-music {
  margin-top: 85px;
}
.img-music img {
  width: 100%;
}
.news_articls {
  background-color: #000000;
  max-width: 100%;
}
.p_news {
  margin-top: 22px;
  max-width: 541px;

  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-align: left;
  color: var(--bg-white);
}
.button_one button {
  margin-top: 201px;
  background-color: var(--bg-blue);
  color: var(--bg-white);
  padding: 21px 34px;
  width: 175px;
  height: 70px;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-black);
}
.section-1 {
  background: url("../images/IMAGE.svg") no-repeat;
  width: 100%;
  height: 732px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  color: var(--bg-white);
}
.section-2 {
  background: url("../images/game2.svg") no-repeat;
  width: 100%;
  height: 732px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  color: var(--bg-white);
}
.section-3 {
  background: url("../images/gamee3.svg") no-repeat;
  width: 100%;
  height: 732px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  color: var(--bg-white);
}
@media (max-width: 1100px) {
  .section {
    flex-wrap: wrap;
  }
  .section-1,
  .section-2,
  .section-3 {
    width: 419px;
    height: 732px;
  }
}
.frame {
  background-color: #000000;
  padding: 75px 60px 87px;
}
.frame-top > .frame-top-fire {
  display: flex;
  align-items: center;
  gap: 8px;
}
.frame-top > .frame-top-fire > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #57b8ff;
}
.frame-top > .frame-top-h1__btn {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  justify-content: space-between;
}
.frame-top > .frame-top-h1__btn h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 74px;
  text-transform: capitalize;
  color: var(--bg-white);
}
.frame-top > .frame-top-h1__btn > button {
  padding: 16px 34px;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-transform: capitalize;
  color: var(--bg-white);
  background-color: var(--bg-blue);
}

.frame-bottom {
  margin-top: 74px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-one-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #57b8ff;
  margin-top: 54px;
}
.frame-bottom-one_card img {
  width: 100%;
}
.frame-bottom-one_card {
  max-width: 648px;
}
.h5-two-2s {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: var(--bg-white);
}
.frame-bottom-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.h5-two-2 {
  font-weight: 400;
  font-size: 23px;
  text-transform: capitalize;
  color: var(--bg-white);
  margin-top: 28px;
}
.frame-btn-12 {
  width: 312px;
}
.frame-btn-12 > img {
  width: 100%;
}
@media (max-width: 1300px) {
  .frame-bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .frame-top > .frame-top-h1__btn {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .frame-bottom-two {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .frame-top > .frame-top-h1__btn h2 {
    font-size: 50px;
    line-height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.frame-me {
  background: url("../images/IMAGE44.png");
  width: 100%;
  background-size: cover;
}

.h-two-2 {
  text-align: center;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  padding-top: 126px;
}

.form-one {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 130px;
}
.p-two-2 {
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  padding: 33px 64px;
}
.form-one input {
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  width: 445px;
  height: 70px;
  padding-left: 13px;
  margin-top: 50px;
  border: none;
}

.form-one button {
  width: 221px;
  height: 70px;
  background-color: #57b8ff;
  color: var(--bg-white);
  font-size: 18px;
  margin-top: 50px;
}
@media (max-width: 540px) {
  .h-two-2 {
    font-size: 50px;
    line-height: 50px;
  }
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 1;
}
#loading.loading-none {
  opacity: 0;
  z-index: -999;
}
@keyframes ldio-yzaezf3dcmj {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-yzaezf3dcmj div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #000000;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}
.ldio-yzaezf3dcmj div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
}
.ldio-yzaezf3dcmj > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}
.ldio-yzaezf3dcmj div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
}
.ldio-yzaezf3dcmj > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}
.ldio-yzaezf3dcmj div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
}
.ldio-yzaezf3dcmj > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}
.ldio-yzaezf3dcmj div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
}
.ldio-yzaezf3dcmj > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}
.ldio-yzaezf3dcmj div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
}
.ldio-yzaezf3dcmj > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}
.ldio-yzaezf3dcmj div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
}
.ldio-yzaezf3dcmj > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}
.ldio-yzaezf3dcmj div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
}
.ldio-yzaezf3dcmj > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}
.ldio-yzaezf3dcmj div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}
.ldio-yzaezf3dcmj > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}
.loadingio-spinner-spin-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #d2d3d4;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}
